/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GENERIC STYLING */
html {
    font-family: 'Epilogue';
}

body {
    font-size: 1em;
}

h1 {
    font-size: 1.2em;
    color: #1C1D1D;
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
}

h4 {
    color: #77787b;
    margin: 0 0 2em 0;
    font-weight: 600;
    font-size: 0.9em;
    text-decoration: underline
}

h5 {
    color: #77787b;
    font-weight: 100;
    font-size: 0.9em;
    text-decoration: underline;
    margin: 0 0 1em 0;
}

h6 {
    color: #77787b;
    font-weight: 900;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

p {
    font-weight: 500;
}

li {
    list-style-type: none;
}

a {
    color: #000000;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* HEADER STYLING */
header {
    font-weight: 600;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*    ze hebben hem zelf niet sticky, maar ik vind dat de gebruiker ten allen tijden het menu moet kunnen gebruiken op mobile*/
    position: sticky;
    top: 0;
    padding: .5em 1em;
    height: 3em;
    background-color: #ffffff;
}

/* Navigatie styling */
nav ul {
    font-size: 1.2em;
}

header nav div:first-child {
    display: flex;
    justify-content: space-between;
}

/*button hamburger*/
header nav button {
    position: relative;
    background-color: transparent;
    font-size: 1em;
    border: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    z-index: 100;
    order: 1;
}

/*VOOR klik*/
header nav button::before {
    content: "\2630";
    display: inline-block;
    width: 1em;
    height: 2em;
    margin: 1em 1em 0 0;
    transform: scale(2);
}

/*NA klik*/
header nav.toonMenu button::before {
    content: "\02DF";
    background-color: transparent;
    width: 1em;
    height: 2em;
    margin: 1em 1em 0 0;
    transform: scale(2);
}

/*Search button*/
header nav div:first-child a img {
    position: relative;
    z-index: 100;
    min-width: 1.5em;
    min-height: 1.5em;
    display: none;
}

header nav.toonMenu div:first-child a img {
    display: inline-block;
}

/*Onderste deel hamburger menu*/
header nav div:nth-child(2) {
    position: fixed;
    left: 0;
    right: 40%;
    top: 0;
    bottom: 0;
    transform: translatex(-100%);
    transition: .5s;
    z-index: 50;
    padding: 3em 1em;
}

nav ul:first-child li {
    margin: .5em 0 0 0;
}

nav ul:first-child li:last-child {
    margin: .5em 0 2em 0;
}

header nav.toonMenu div:nth-child(2) {
    background: #F2DBE8;
    transform: translatex(0%);
}

/*accordeons*/
header summary {
    font-size: 0.9em;
    padding: 1em 0 1em 0;
    letter-spacing: .2em;
}

header details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header details summary::-webkit-details-marker {
    display: none;
}

header details summary {
    position: relative;
    outline: 0;
}

header details summary:after {
    content: "\02C7";
    position: absolute;
    font-size: 2em;
    line-height: 0;
    margin-top: 0.5em;
    right: 0;
}

header details[open] summary:after {
    content: "\02C6";
}

/*social media links*/
nav ul:nth-of-type(2) {
    display: flex;
}

nav ul li a img {
    max-width: 1em;
    margin: 0 .5em 0;
}

/* Stieglitz logo */
header > a:nth-child(2) img {
    height: 1.5em;
}

/* verlanglijstje + cart */
header > div {
    width: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div a img {
    height: 1em;
}

/* MAIN STYLING */

/*INDEX.HTML*/
main section:nth-child(1) img {
    width: 100%;
    margin: auto;
}

section article {
    padding: 0 0 4em;
    text-align: end;
}

article img {
    width: 100%;
    margin: 0em;
    padding: 0em;
}

section article h2 {
    margin: 1em .5em;
}

section article p {
    margin: 0 1em 0 2em;
    line-height: 1.5em;
}

section article:nth-of-type(1) {
    background-color: #F5B856;
}

section article:nth-of-type(2) {
    background-color: #F0866E;
}


section article:nth-of-type(3) {
    background-color: #FFFEC5;
}


section article:nth-of-type(4) {
    background-color: #C2EAF3;
}

section article:nth-of-type(5) {
    background-color: #B2D286;
}

section article:nth-of-type(5) p:nth-of-type(2) {
    margin-top: 1em;
}

section article:nth-of-type(6) {
    background-color: #F7C8DD;
}

section article:nth-of-type(6) p:nth-of-type(2) {
    margin-top: 1em;
}

/*DETAILPAGINA.HTML*/

/*algemeen*/
.detailpagina h2 {
    color: #1C1D1D;
    font-size: 1.4em;
}

.detailpagina p {
    font-size: 0.9em;
}

/* BREADcrumbs*/
.detailpagina nav {
    font-size: 0.6em;
    color: #1C1D1D;
    margin: 2em 1em 1em;
}

/*PRODUCT details*/
.detailpagina section:first-of-type {
    margin: 0 1em;
}

.detailpagina section:first-of-type h1 {
    margin: 1em 0;
}

.detailpagina section:first-of-type h2 {
    margin: 0 0 1.5em 0;
}

.detailpagina section:first-of-type p:first-of-type {
    margin: 0 0 2em 0;
}

.detailpagina section:first-of-type p:nth-of-type(2) {
    margin: 0 0 2em 0;
}

/*product afbeeldingen*/
.detailpagina section:first-of-type div:first-of-type {
    display: flex;
}

.detailpagina section:first-of-type div:first-of-type div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.detailpagina section:first-of-type div:first-of-type div:nth-child(2) img {
    max-height: 22em;
}

/*radio buttons*/
.detailpagina section:first-of-type div:nth-of-type(2) {
    margin: 0 0 2em 0;
}

.detailpagina input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.detailpagina label {
    display: inline-block;
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
}

.detailpagina label:hover {
    display: inline-block;
    background-color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #000000;
}

/*add to cart / lijst buttons*/
.detailpagina section:first-of-type div:nth-of-type(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 2em 0;
}

.detailpagina section:first-of-type div:nth-of-type(3) button {
    width: 90%;
    background-color: #000000;
    color: white;
    padding: .8em 0;
    font-size: 1em;
    font-family: 'Epilogue';
    font-weight: 600;
    border: none;
}

.detailpagina section:first-of-type div:nth-of-type(3) button.welToegevoegd {
    background-color: #D30E0E;
    box-shadow: inset 4px 4px 20px #851212;
}

.detailpagina section:first-of-type div:nth-of-type(3) a img {
    max-width: 1em;
}

/*care instructions en shipping en returns*/
.detailpagina section:first-of-type details:first-of-type p {
    font-weight: 100;
    margin: 0 0 2em 0;
}

.detailpagina section:first-of-type summary {
    margin: 0 0 1em 0;
}

/*social media links*/
.detailpagina section:first-of-type ul:nth-of-type(2) {
    display: flex;
    max-width: 75%;
    justify-content: space-between;
    margin: 4em 0 3em 0;
}

.detailpagina section:first-of-type ul:nth-of-type(2) img {
    max-width: 1em;
}

/* COMPLETE the look*/
.detailpagina section:nth-of-type(2) {
    margin: 0 1em;
}

.detailpagina section:nth-of-type(2) h2 {
    text-align: center;
    margin: 0 0 1.5em 0;
    font-size: 1.6em;
}

/*afbeeldingen*/
.detailpagina section:nth-of-type(2) div:first-of-type {
    overflow: scroll;
    white-space: nowrap;
    margin: auto;
}

.detailpagina section:nth-of-type(2) div:first-of-type a {
    display: list-item;
    display: inline-block;
}

.detailpagina section:nth-of-type(2) div:first-of-type a h3 {
    font-size: .9em;
    margin: .5em 0 0 0;
}

.detailpagina section:nth-of-type(2) div img {
    width: 15em;
    margin: 0 1em 0 0;
}

/*#STIEGLITZlabel*/
.detailpagina section:nth-of-type(3) div {
    display: flex;
}

.detailpagina section:nth-of-type(3) a {
    margin: 0 .5em 0 0;
}

.detailpagina section:nth-of-type(3) img {
    max-height: 25em;
    margin: 1em 1em 0 0;
}

.detailpagina section:nth-of-type(3) h3 {
    text-align: center;
    margin: 3em 0 0 0;
}

/* FOOTER STYLING */
footer {
    text-decoration: none;
    background-color: #F2DBE8;
    margin: 1em 0 0 0;
    padding: 1em 0;
}

footer ul {
    margin: 1em .5em 0;
}

/* Eerste deel footer */
footer summary {
    font-size: 0.9em;
    padding: 1em 0 1em 0;
    letter-spacing: .2em;
}

footer details[open] summary ~ * {
    animation: open 0.3s ease-in-out;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer details summary::-webkit-details-marker {
    display: none;
}

footer details summary {
    position: relative;
    outline: 0;
}

footer details summary:after {
    content: "\02C7";
    position: absolute;
    font-size: 2em;
    line-height: 0;
    margin-top: 0.5em;
    right: 0;
}

footer details[open] summary:after {
    content: "\02C6";
}

details p {
    color: #77787B;
    font-weight: 600;
    margin: 0 0 1em 0;
}

footer li a {
    color: #000000;
}

details ul li {
    font-size: 1em;
    font-weight: 600;
    margin: 1em 0;
}

/* Subscribe to newsletter formulier */
fieldset {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: .5em 0;
    width: 80%;
}

footer legend {
    display: none;
}

footer label {
    display: none;
}

input[type=email] {
    background-color: transparent;
    border: none;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

/*WAAROM PAKT HIJ DEZE KLEUR NIET?*/
input[placeholder] {
    color: #000000;
}

/*IK KRIJG HIER DE AFBEELDING NIET TE ZIEN, WAAROM?*/
input[type=submit] {
    background-color: transparent;
    color: transparent;
    border: 0;
    background-image: url("message.png");
    max-width: 2em;
    margin: 0 0 0 1em;
}

/* Tweede deel footer */

/* Betaalmiddelen */

/*IK KRIJG DE AFBEELDINGEN HIER NIET VERDEELD OVER 2 RIJEN, FLEX-WRAP DOET HET NIET*/
footer ul:nth-of-type(2) {
    display: flex;
/*    flex-wrap: wrap;*/
    justify-content: space-between;
    margin: 2em 2em 3em 2em;
}

footer ul:nth-of-type(2) li {
}

footer ul:nth-of-type(2) img {
    border: 1px solid grey;
    border-radius: .3em;
    max-width: 2em;
    margin: 0 .2em 0;
}
