/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Generic styling */
* {}

html {
    font-family: 'Epilogue';
}

body {
    font-size: 1em;
}

h1 {
    font-weight: 700;
    font-size: 2.5em;
}

h2 {}

p {
    font-weight: 500;
}

ul {}

li {}

a {}

a:link {}

a:visited {}

a:hover,
a:focus {}

a:active {}

button {}

/* form styling */
form {}

fieldset {}

legend {}

label {}

input {}

input:invalid {}

/* Section styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: .5em;
}

header a {
    color: #000000;
    text-decoration: none;
}

header nav {
    font-size: 1.25em;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a:nth-child(2) img {
    height: 1.5em;
}

header div a img {
    height: 1em;
}

nav button {
    position: relative;
    font-size: 1em;
    border: none;
    appearance: none;
    cursor: pointer;
    background-color: #ffffff;
    z-index: 2;
}

nav button::before {
    content: "\2630";
    display: inline-block;
    width: 1em;
    transform: scale(2);
}

nav.toonMenu  button::before {
  content:"\2715";
}

nav ul { 
  margin:0; 
  padding:4em 0 0;
  background:#F2DBE8 ;
  left:0; right:0; top:0; bottom:0;
  transform:translatex(-100%);
  transition:.5s;
  z-index:1;
}

nav.toonMenu ul {
  /* jouw code hier */
  transform:translatex(0);
}

li {
  margin:0; padding:0;
}

li a {
  display:block;
  padding:1em 1em 1em 3.5em;
  /* de meeste background properties zijn voor alle links gelijk */
  border-top:solid 1px DeepSkyBlue;
}




main {}

main button {}

section {}

section header {}

section h2 {}

article {}

article header {}

article h3 {}

article footer {}

aside {}

footer {
    background-color: #F2DBE8;
}

/* Component styling */
section#some-ultra-cool-component {}


/* Breakpoints */
@media all and (min-width: 30em) {}

@media all and (min-width: 60em) {}

@media all and (min-width: 90em) {}
