/* CSS Document */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
}

/* Generic styling */
* {}

html {
    font-family: 'Epilogue';
}

body {
    font-size: 1em;
}

h1 {
    
}

h2 {
    font-weight: 700;
    font-size: 2.5em;
}

p {
    font-weight: 500;
}

ul {}

li {}

a {}

a:link {}

a:visited {}

a:hover,
a:focus {}

a:active {}

button {}

/* form styling */
form {}

fieldset {}

legend {}

label {}

input {}

input:invalid {}

/* Section styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: .5em;
    height: 3em;
}

header a {
    color: #000000;
    text-decoration: none;
}

header nav {
    font-size: 1.25em;
}

header div {
    width: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > a:nth-child(2) img {
    height: 1.5em;
}

header div a img {
    height: 1em;
}

main {}

main button {}

/* HERO SPOT > HOE KRIJG IK DEZE FOTO INGEZOOMD WAARBIJ HET MIDDELSTE DEEL TE ZIEN IS? */
main section:nth-child(1) img {
    width: 100%;
    margin: auto;
}

section {}

section header {}

/* WAAROM HEEFT DE TEKST NIET DE WIDTH VAN HET HELE BLOK? */
section article {
    padding: 1em 1em;
    text-align: end;
    width: 100%;
}

section article:nth-of-type(1){
    background-color: #F5B856;
}


section article:nth-of-type(2){
    background-color: #F0866E;
}


section article:nth-of-type(3){
    background-color: #FFFEC5;
}


section article:nth-of-type(4){
    background-color: #C2EAF3;
}

section article:nth-of-type(5){
    background-color: #B2D286;
}


section article:nth-of-type(6){
    background-color: #F7C8DD;
}

article img {
    padding: 0;
}

section h2 {}

article {}

article header {}

article h3 {}

article footer {}

aside {}

footer {
    color: #000000;
    text-decoration: none;
    background-color: #F2DBE8;
}

footer ul a{
     color: #000000;
    text-decoration: none;
}

/* Component styling */
section#some-ultra-cool-component {}


/* Breakpoints */
@media all and (min-width: 30em) {}

@media all and (min-width: 60em) {}

@media all and (min-width: 90em) {}
